td {
  background-color: silver;
  color: red;
  padding: 5px;
  border: 1px solid #fff;
}

button.delete {
    background-color: white;
    color: red;

}

button {
    padding: 5px;
    border: 1px solid #222;
    width: 80px;
}